<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

   <%= render 'shared/error_messages' %>
 
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

    <% if @user.avatar? %>
      <%= cl_image_tag(@user.avatar.path, { size: '50x50', crop: :fit, gravity: :face }) %>
    <% end %>
      <%= f.attachinary_file_field :avatar %>

    <% @user.photos.each do |photo| %>
      <%= cl_image_tag(photo.path, { size: '125x125', crop: :fit }) %>
    <% end %>
      <%= f.attachinary_file_field :photos %>

      <%= f.submit "Save Changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


